---
layout: archive
---

{{ content }}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About Me" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
<p class="page__content">
    {{"Hi! I'm <strong> Sumayya </strong> and I study Electrical and Computer Engineering at Carnegie Mellon University. 
      I've enjoyed robotics since high school and have found it to be my inspiration for pursuing this field. I hope to continue tinkering with machines and programs into my future."
    
    "In my free time I love to read dystopian novels, photograph nature and paint logos of my favorite artists. I also like to crochet when I have the time, so if you'd like a beanie or a stuffed animal let me know!"}}
</p>

{% include paginator.html %}
